
  @font-face {
    font-family: 'ProximaNova-Xbold.woff';
    src: url('./ProximaNova-Xbold.woff.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
  }
  @font-face {
    font-family: 'Share-Tech.woff';
    src: url('./Share-Tech.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
  }
  
  